[package]
name = "bash"
type = "system"
description = "The GNU Bourne Again shell"

[source]
git = "https://git.savannah.gnu.org/git/bash.git"

[source.version]
pattern = "^bash-([0-9]+\\.[0-9]+)$"
exclude = ["rc", "beta", "alpha"]

[dependencies]
build = [
  "gcc",
  "make",
  "bison",
  "ncurses"
]
run = [
  "ncurses",
  "readline"
]

[build]
system = "autotools"
configure = [
  "./configure --prefix=/usr --without-bash-malloc --with-installed-readline"
]
compile = [
  "make -j$(nproc)"
]
install = [
  "make install DESTDIR=$DESTDIR"
]

[install]
prefix = "/usr"
post = [
    "ln -sf bash $DESTDIR/usr/bin/sh"
]
