name = "linux"
version = "6.18"
patch = 0
license = "gpl2"
description = "The Linux kernel"
tar = "https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-${version}.tar.xz"

[build]
system = "make"
configure = [
  "make defconfig",
  "# TODO: Apply superarch-specific config tweaks"
]
compile = [
  "make -j$(nproc)"
]
install = [
  "make modules_install INSTALL_MOD_PATH=$DESTDIR",
  "mkdir -p $DESTDIR/boot",
  "cp arch/x86/boot/bzImage $DESTDIR/boot/vmlinuz-linux",
  "cp System.map $DESTDIR/boot/System.map-linux"
]

[dependencies]
build = [
  "gcc",
  "make",
  "binutils",
  "flex",
  "bison",
  "bc",
  "cpio",
  "perl",
  "openssl",
  "elfutils"
]

run = []

[install]
prefix = "/usr"
post = [
  "mkinitcpio -p linux",
  "bootctl update"
]
